DEV_APPINSIGHTS_ID=some-app-id
DEV_APPINSIGHTS_KEY=some-app-key

PREPROD_APPINSIGHTS_ID=some-app-id
PREPROD_APPINSIGHTS_KEY=some-app-key

PROD_APPINSIGHTS_ID=some-app-id
PROD_APPINSIGHTS_KEY=some-app-key
